article.film-card
    h3.film-card__title #{film.title}
    p.film-card__rating #{film.rating}
    p.film-card__info
        span.film-card__year #{film.year}
        span.film-card__duration #{film.duration}
        span.film-card__genre #{film.genre}
    img.film-card__poster(src=`${film.poster}` alt=`${film.title}`)
    p.film-card__description #{film.description}
    a.film-card__comments #{film.commentsCount}
    div.film-card__controls
        button.film-card__controls-item.button.film-card__controls-item--add-to-watchlist(type='button') Add to watchlist
        button.film-card__controls-item.button.film-card__controls-item--mark-as-watched(type='button') Mark as watched
        button.film-card__controls-item.button.film-card__controls-item--favorite(type='button') Mark as favorite